body {
  background-image:url("back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   padding: 2px;
}

h1{ 
  text-align: center;
  padding: 0px 20px 60px 40px;
  text-decoration: underline;
  font-weight: bold;
  font-size:30px;
} 
 p {
   position: absolute;
   left: 35%;
   top:220%;
  font-family: 'Bona Nova', 'serif';
  text-align:left;
  text-align-last:start;
  font-weight: bold;
  padding: 95px -1px 300px 800px;
  font-size:28px;
 }
 .navbar-nav{
  position:absolute;
    right: 10px;
    top: 10px;
 }
 .container-fluid {
  padding-left: 10px;
  padding-right: 10px;
  padding-top:60px;
}
 .nav-item{
 padding-left:10px;
 font-size: 1.5rem;
}

